/* Reset CSS  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear{
    clear:both;
}

.text-white{
    color: #fff !important;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    height: 46px;
    background-color: #000;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 46px;
    padding: 0 24px;
}


#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000;
}

#nav li:hover .subnav{
    display: block;
}


#nav .nav-arrow-down{
    font-size: 12px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}


#slider{
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
}

#slider .slider-content{
    position: absolute;
    text-align: center;
    bottom: 47px;
    color: #fff;
    width: 100%;
}

#slider .slider-title{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 500;
}

#slider .slider-decription{
    font-size: 15px;
}



#content{

}

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin: 0 auto;
}

#content .section-title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 4px;
    font-weight: 500;
}

#content .section-slogan{
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.7;
}

/* About section */

#content .about-text{
    font-size: 15px;
    line-height: 1.5;
}

#content .about-text{
    text-align: justify;
}
/* End about section  */


/* Team section  */
#content .member-item{
    float: left;
    width: 33.3333%;
    margin-top: 47px;
    text-align: center;
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}


#content .member-img{
    width: 154px;
    border-radius: 4px;
}
/* End team section  */




/* Tour section  */

.section-tour{
    background-color: #000;
}


#content .tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

#content .tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out{
    background-color: #f44336;
    padding: 4px 4px;
    margin-left: 16px;
    color: #fff;
}


.tickets-list .quantity{
    float: right;
    height: 24px;
    width: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -4px;
}


.place-list{
    margin: 32px -8px 48px;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-name{
    font-weight: 560;
}

.place-date{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 16px;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

/* modal  */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    position: relative;
    margin-top: 92px;
    max-width: calc(100% - 32px);
    min-height: 200px;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: #fff;
}

.modal-close:hover{
    color: #000;
    background-color: #ccc;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 520;
}

.modal-input{
    margin-bottom: 24px;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

#pay-tickets-btn{
    padding: 16px;
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.modal-footer{
    padding: 16px;
    text-align: right;
    margin-bottom: 20px;
}

.modal-help a{
    color: #2196F3;
}


#footer{

}